# Extensions #

*.class
*.project
*.classpath

# Folders #

target/
bin/
.settings/
.vscode/

# Project Folders #


# Package Files #
deploy.cmd

# Package Files #

*.jar
hs_err_pid*

# Plantillas #
Informe Aduanas.xlsx
mercadona.png
Expedicion.xlsm
PlantillaFactura_v1.0.2.xlsm